.reveal section img {
    border: none;
    background-color: transparent;
}
body section {
    font: "Helvetica Neue", Helvetica, Arial ! important;
    /*background-color: #000;*/
}
div.slide-background-content {
    background-image: url(images/MWLR-ppt.png);
    background-size: 100vw 100vh;
}
h1 {
    font-size: 2em ! important;
}
h2 {
    font-size: 1.5em ! important;
}
h3 {
    font-size: 1em ! important;
}
h4 {
    font-size: 0.6em ! important;
}
p {
    font-size: 0.4em ! important;
}
div.overlay-help table {
    color: #fff ! important;
}
.speaker-controls-notes .value {
    font-size: 10px ! important;
    line-height: 12px ! important ;
}
img.subtitle {
    width: 25%;
    z-index: -1;
    filter: sepia(1) drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}
div.caption {
    font-size: 10pt ! important;
}
img.subtitle.standards {
    background-color: rgba(255,255,255,0.7);
    width: 35%;
    padding: 8px;
    border-radius: 8px;
    z-index: -1;
    filter: none;
}
img.img-2 {
    max-width: 40vw;
    max-height: 40vh;
}
.reveal section img.icon {
    height: 30px;
    margin: 0;
    background-color: rgba(255,255,255,0.7);
    padding: 4px;
    border-radius: 8px;
}
.reveal section .highlight {
    color: pink;
    background-color: rgba(0,0,0,0.4);
    padding: 4px 16px;
    border-radius: 4px;
}


/* FRAG */

.orange {
    color: hsl(31deg, 90%, 61%);
}
.reveal section img.white-bg {
    background-color: #fff;
}
.reveal section img.svg {
    padding: 4%;
    width: 64%;
}