<h1> Paul Peterson's Directory </h1>

<p>
    Anything here is Paul's responsibility.
</p>

<p>
    DSM Software: <a href="Setup.msi">Setup.msi</a>
</p>
<p>
    <a href="Licence to use Digital Sampling Method.docx">
        Licence to use Digital Sampling Method.docx
    </a>
</p>
